@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('./editorjs.css');
@import url('./scroll.css');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::selection{
    background-color: var(--accent-secondary);
    color: var(--text-on-accent);
}
:root {
    /* light theme */
    --main: hsl(0, 0%, 93%);
    --main-secondary: hsl(0, 0%, 88%);
    --accent: hsl(226, 57%, 30%);
    --accent-secondary: hsl(226, 57%, 35%);
    --text: hsl(0, 0%, 13%);
    --text-secondary: hsl(0, 0%, 33%);
    --text-accent: var(--accent);
    --text-on-accent: var(--dark-text);
    
    /* dark theme */
    --dark-main: hsl(229, 41%, 10%);
    --dark-main-secondary: hsl(229, 41%, 15%);
    --dark-accent: hsl(0, 50%, 50%);
    --dark-accent-secondary: hsl(0, 50%, 55%);
    --dark-text: hsl(0, 0%, 93%);
    --dark-text-secondary: hsl(0, 0%, 67%);
    --dark-text-accent: var(--dark-accent);
    --dark-text-on-accent: var(--dark-text);

    /* preserve light vars in dark theme */
    --light-main: var(--main);
    --light-text: var(--text);

    /* other */
    --section-max-width: 1250px;
}

.dark-mode {
    --main: var(--dark-main);
    --main-secondary: var(--dark-main-secondary);
    --accent: var(--dark-accent);
    --accent-secondary: var(--dark-accent-secondary);
    --text: var(--dark-text);
    --text-secondary: var(--dark-text-secondary);
    --text-accent: var(--dark-text-accent);
    --text-on-accent: var(--dark-text-on-accent);


    /* --accent-secondary: var(--dark-accent-secondary); */
    color: var(--text);
}

body {
    background-color: var(--main);
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

a,
a:visited {
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}


section.normal-section {
    padding: 2em 0;
    width: clamp(0, 95vw, var(--section-max-width));
}

section.expanded-section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 2em 0;
    min-height: 100vh;
    width: clamp(0px, 95vw, var(--section-max-width));
}

section.wide-section {
    width: 100%;
}

main > div > section:first-of-type {
    padding-top: 85px;
}

main > div > section:first-of-type > section.expanded-section {
    min-height: calc(100vh - 85px);
}

.text-accent {
    color: var(--text-accent);
}

.material-icons {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 300px) {
    :root {
        font-size: 10px;
    }
}