/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-secondary) var(--main-secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--main-secondary);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent-secondary);
    border: none;
}